<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaikeba.dao.DeptMapper">
 
 
 <resultMap type="dept" id="deptMap">
    <id column="dept_deptno" property="deptNo"/>
    <result column="dname" property="dname"/>
    <result column="loc"   property="loc"/>
    <!-- 
         collection标签中 column属性应该填写查询临时表中来自于一方表主键
         字段名
     -->
    <collection property="empList" ofType="employee" column="dept_deptno">
        <id column="empno" property="empNo"></id>
        <result column="ename" property="ename"/>
    </collection>
 </resultMap>
 
 <!-- 查询当前部门下所有的职员名称以及当前部门基本 -->
 <select id="deptFindById" resultMap="deptMap">
     select dept.deptno dept_deptno,
                    dname,
                    loc,
                    empno,ename,job,sal
             From dept join emp
             on dept.deptno = emp.deptno
             where dept.deptno=#{deptno}
 </select>
   
</mapper>

