<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Dept">
    <!-- 插入单个部门信息 -->
    <insert id="insertDept">
      INSERT INTO dept (DNAME,LOC) VALUES (#{dname},#{loc})
    </insert>
</mapper>

